<a href="https://colab.research.google.com/github/itutil/DMA_LAB2/blob/master/Copy_of_LAB_II_CNN_preparacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!wget https://www.dropbox.com/sh/thozj6v32v6doan/AAB_lzZGAr3ASO-sEWTnKTRLa/datasetsOri/paquete_premium.zip

--2019-12-07 00:57:10--  https://www.dropbox.com/sh/thozj6v32v6doan/AAB_lzZGAr3ASO-sEWTnKTRLa/datasetsOri/paquete_premium.zip
Resolving www.dropbox.com (www.dropbox.com)... 162.125.9.1, 2620:100:601f:1::a27d:901
Connecting to www.dropbox.com (www.dropbox.com)|162.125.9.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /sh/raw/thozj6v32v6doan/AAB_lzZGAr3ASO-sEWTnKTRLa/datasetsOri/paquete_premium.zip [following]
--2019-12-07 00:57:11--  https://www.dropbox.com/sh/raw/thozj6v32v6doan/AAB_lzZGAr3ASO-sEWTnKTRLa/datasetsOri/paquete_premium.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucc903abfdfefd5e53aeafd2aac4.dl.dropboxusercontent.com/cd/0/inline/Atxfaoj1K2FNcWgXtM8v0kaRCxSDAcGkhRtJEUWADub9f2OtOXRSMBbRDdyjlT5UYuVpSEX_dYec13aOQQBufpMVzRg6e9ONS5v7Sk4usrgpLhQ68Hu_Xf_ulVaKMhn0DfM/file# [following]
--2019-12-07 00:57:11--  https://ucc903abfdfefd5e53aeafd2aac4.dl.dropboxusercontent.com/cd/0/inline/Atxfaoj1K2FNcWgXtM8v0kaRCxSDAcGkhRtJEUWADub9f2OtOXRSMBbRDdyjlT5UYuVpSEX_dYec13aOQQBufpMVzRg6e9ONS5v7Sk4usrgpLhQ68Hu_Xf_ulVaKMhn0DfM/file
Resolving ucc903abfdfefd5e53aeafd2aac4.dl.dropboxusercontent.com (ucc903abfdfefd5e53aeafd2aac4.dl.dropboxusercontent.com)... 162.125.9.6, 2620:100:601f:6::a27d:906
Connecting to ucc903abfdfefd5e53aeafd2aac4.dl.dropboxusercontent.com (ucc903abfdfefd5e53aeafd2aac4.dl.dropboxusercontent.com)|162.125.9.6|:443... connected.
HTTP request sent, awaiting response... 302 FOUND
Location: /cd/0/inline2/AtzPcx9uv7CVSNLK9hZ_S2XtT3D0nQJyAN2D-yiwtVtCB83xlv3VnaUTGQbuTGyZjVcSZ1FzMME6D1Zj-kBBzLsnsq4SjCMlWzmeGAbM6PPHLgVyRTQiwR645AWP2GBuTQFGwFMpOBR5n2Xp0IrVj4fEEL2CKxu7899JBU72EAsxD420iollz4q_OIvCRV2HcNvArBXlXZnqtlHV_29VOXNokuvZhWWMfNUrGvK5E06aIj-fTqhhNwqEGXXh0qMmhoigrmNVcAHSjAaWXqFT798CQnuKVgS1BT1t26b8KYqnKt6IsXELstX1Mn8yQAksxbyGbSAUw85FJecXzxV6kzaoungLP8kVh_j8dh09BDaHTQ/file [following]
--2019-12-07 00:57:12--  https://ucc903abfdfefd5e53aeafd2aac4.dl.dropboxusercontent.com/cd/0/inline2/AtzPcx9uv7CVSNLK9hZ_S2XtT3D0nQJyAN2D-yiwtVtCB83xlv3VnaUTGQbuTGyZjVcSZ1FzMME6D1Zj-kBBzLsnsq4SjCMlWzmeGAbM6PPHLgVyRTQiwR645AWP2GBuTQFGwFMpOBR5n2Xp0IrVj4fEEL2CKxu7899JBU72EAsxD420iollz4q_OIvCRV2HcNvArBXlXZnqtlHV_29VOXNokuvZhWWMfNUrGvK5E06aIj-fTqhhNwqEGXXh0qMmhoigrmNVcAHSjAaWXqFT798CQnuKVgS1BT1t26b8KYqnKt6IsXELstX1Mn8yQAksxbyGbSAUw85FJecXzxV6kzaoungLP8kVh_j8dh09BDaHTQ/file
Reusing existing connection to ucc903abfdfefd5e53aeafd2aac4.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 772069404 (736M) [application/zip]
Saving to: ‘paquete_premium.zip.1’

paquete_premium.zip 100%[===================>] 736.30M  45.0MB/s    in 14s

2019-12-07 00:57:26 (51.2 MB/s) - ‘paquete_premium.zip.1’ saved [772069404/772069404]

In [0]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [0]:
!ls

paquete_premium.zip  paquete_premium.zip.1  sample_data

In [0]:
data = pd.read_csv("./paquete_premium.zip", sep="\t", nrows=100000)

In [0]:
ct = pd.crosstab(data.foto_mes, data.clase_ternaria.isnull())
delta = 6
ultimo_mes = ct[ct[True] == 0].index.max()
primer_mes = ct.index[ct.index <= ultimo_mes][-2 - delta]

In [0]:
for c in data:
  if c in ["foto_mes", "numero_de_cliente", "clase_ternaria"]:
    continue
  try:
    unicos = data[c].fillna("NA").nunique()
    if (unicos == 1):
      print(c, "no tiene varianza")
      data.drop(c, axis=1, inplace=True)
    elif (unicos < 100):
      temp  = pd.get_dummies(data[c].fillna("NA"))
      temp.columns = [c + "_" + str(i) for i in temp.columns]
      data = data.join(temp)
    else:
      data[c] = StandardScaler().fit_transform(data[[c]].fillna(0)).astype(np.float32)
  except:
    print(c, "error")

tpaquete1 no tiene varianza
tpaquete2 no tiene varianza
tpaquete3 no tiene varianza
tpaquete4 no tiene varianza
tpaquete5 no tiene varianza
tpaquete6 no tiene varianza
tpaquete8 no tiene varianza
mcuenta_corriente_dolares no tiene varianza
mbonos_corporativos no tiene varianza
mmonedas_extranjeras no tiene varianza
minversiones_otras no tiene varianza
ccuenta_descuentos no tiene varianza
mcuenta_descuentos no tiene varianza
tautoservicio no tiene varianza
cautoservicio_transacciones no tiene varianza

In [0]:
c = "Visa_mpagominimo"
data[c].fillna("NA").nunique()
StandardScaler().fit_transform(data[[c]].fillna(0)).astype(np.float32)[:, -1]

array([-0.21014293, -0.2138037 , -0.22112523, ..., -0.14913018,
       -0.16255298, -0.17353529], dtype=float32)

In [0]:
data[[c]]

       Visa_mpagominimo
0                 479.7
1                 444.6
2                 374.4
3                 549.9
4                 397.8
...                 ...
99995            1064.7
99996            1158.3
99997            1064.7
99998             936.0
99999             830.7

[100000 rows x 1 columns]

In [0]:
data[c]

0         479.7
1         444.6
2         374.4
3         549.9
4         397.8
          ...
99995    1064.7
99996    1158.3
99997    1064.7
99998     936.0
99999     830.7
Name: Visa_mpagominimo, Length: 100000, dtype: float64